.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  display: flex;
  width: 100%;
}

.maxWidthWrapper {
  max-width: 1024px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  z-index: 5;
}

@media (max-width: 600px) {
  .maxWidthWrapper {
    margin-top: 80%;
    overflow-x: auto;
  }
}
.header {
  display: block;
  padding-bottom: 64px;
  width: 65%;
}

@media (max-width: 600px) {
  .header {
    display: none;
  }
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  right: 0;
}

@media (max-width: 600px) {
  .characterWrapper {
    position: fixed;
    left: 0;
  }
}

.controlColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 600px) {
  .controlColumn {
    width: fit-content;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: scroll;
  }
}

.firstPart {
  flex: 0 0 60%;
}

.secondPart {
  background-color: hsl(195deg, 20%, 86%);
  flex: 0 0 40%; /* 40% of the height */
}

.bodyStyle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

@media (max-width: 600px) {
  .bodyStyle {
    display: none;
  }
}
